.hobby {
  width: 100vw;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: Montserrat, sans-serif;

  .clipPathChange {
    clip-path: circle(200%);
    transition: 1s ease-in-out;
  }

  &_header {
    padding-top: 1rem;
    width: 100%;
  }

  &_grids {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  &_txt {
    width: 100%;
    height: 100%;
    filter: invert(22%) sepia(27%) saturate(7093%) hue-rotate(184deg) brightness(95%) contrast(103%);
  }

  .relative {
    position: relative;
  }

  &_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: circle(50px at var(--clip-position));
    cursor: none;
  }

  &_grid1 {
    grid-area: 1 / 1 / 2 / 2;

    .hobby_img {
      background-image: url('../assets/hobby-img/muay-thai.jpg');
    }
  }

  &_grid2 {
    grid-area: 2 / 1 / 3 / 2;

    .hobby_img {
      background-image: url('../assets/hobby-img/pizza.jpg');
    }
  }

  &_grid3 {
    grid-area: 3 / 1 / 4 / 2;

    .hobby_img {
      background-image: url('../assets/hobby-img/cooking.jpg');
    }
  }

  &_grid4 {
    grid-area: 4 / 1 / 5 / 2;

    .hobby_img {
      background-image: url('../assets/hobby-img/travel.jpg');
    }
  }

  &_grid5 {
    grid-area: 5 / 1 / 6 / 2;

    .hobby_img {
      background-image: url('../assets/hobby-img/hiking.jpg');
    }
  }

  &_grid6 {
    grid-area: 6 / 1 / 7 / 2;

    .hobby_img {
      background-image: url('../assets/hobby-img/running.jpg');
    }
  }

  &_grid7 {
    grid-area: 7 / 1 / 8 / 2;

    .hobby_img {
      background-image: url('../assets/hobby-img/paddling.jpg');
    }
  }

  &_grid8 {
    grid-area: 8 / 1 / 9 / 2;

    .hobby_img {
      background-image: url('../assets/hobby-img/tea.jpg');
    }
  }

  &_grid9 {
    grid-area: 9 / 1 / 10 / 2;

    .hobby_img {
      background-image: url('../assets/hobby-img/workout.jpg');
    }
  }

  &_grid10 {
    grid-area: 10 / 1 / 11 / 2;

    .hobby_img {
      background-image: url('../assets/hobby-img/drawing.jpg');
    }
  }

}

@media (min-width: 481px) {
  .hobby {
    &_grids {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }

    //muay-thai
    &_grid1 {
      grid-area: 3 / 2 / 5 / 4;
    }

    //piza
    &_grid2 {
      grid-area: 4 / 1 / 6 / 2;
    }

    //cooking
    &_grid3 {
      grid-area: 1 / 2 / 2 / 3;
    }

    //travel
    &_grid4 {
      grid-area: 3 / 1 / 4 / 2;
    }

    //hiking
    &_grid5 {
      grid-area: 1 / 1 / 3 / 2;
    }

    //running
    &_grid6 {
      grid-area: 1 / 3 / 2 / 4;
    }

    //paddling
    &_grid7 {
      grid-area: 2 / 2 / 3 / 4;
    }

    //tea
    &_grid8 {
      grid-area: 5 / 3 / 7 / 4;
    }

    //workout
    &_grid9 {
      grid-area: 6 / 1 / 7 / 3;
    }

    //drawing
    &_grid10 {
      grid-area: 5 / 2 / 6 / 3;
    }
  }
}

@media (min-width: 768px) {
  .hobby {
    &_grids {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 60px);
    }

    &_grid1 {
      grid-area: 1 / 1 / 3 / 3;
    }

    &_grid2 {
      grid-area: 1 / 3 / 4 / 4;
    }

    &_grid3 {
      grid-area: 1 / 4 / 2 / 5;
    }

    &_grid4 {
      grid-area: 2 / 4 / 4 / 5;
    }

    &_grid5 {
      grid-area: 3 / 1 / 6 / 2;
    }

    &_grid6 {
      grid-area: 3 / 2 / 4 / 3;
    }

    &_grid7 {
      grid-area: 4 / 2 / 6 / 4;
    }

    &_grid8 {
      grid-area: 4 / 4 / 7 / 5;
    }

    &_grid9 {
      grid-area: 6 / 1 / 7 / 3;
    }

    &_grid10 {
      grid-area: 6 / 3 / 7 / 4;
    }
  }
}

@media (min-width: 1025px) {
  .hobby {
    &_grids {
      grid-column-gap: 40px;
      grid-row-gap: 40px;
    }
  }
}

@media (min-width: 1281px) {
  .hobby {
    max-width: 1600px;
    margin: 0 auto;

    &_grids {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(10, 1fr);
    }

    //muay-thai
    &_grid1 {
      grid-area: 4 / 1 / 6 / 3;
    }

    //piza
    &_grid2 {
      grid-area: 7 / 5 / 11 / 7;
    }

    //cooking
    &_grid3 {
      grid-area: 6 / 1 / 9 / 3;
    }

    //travel
    &_grid4 {
      grid-area: 1 / 1 / 4 / 3;
    }

    //hiking
    &_grid5 {
      grid-area: 5 / 3 / 8 / 5;
    }

    //running
    &_grid6 {
      grid-area: 8 / 3 / 11 / 5;
    }

    //paddling
    &_grid7 {
      grid-area: 9 / 1 / 11 / 3;
    }

    //tea
    &_grid8 {
      grid-area: 1 / 3 / 5 / 5;
    }

    //workout
    &_grid9 {
      grid-area: 4 / 5 / 7 / 7;
    }

    //drawing
    &_grid10 {
      grid-area: 1 / 5 / 4 / 7;
    }
  }
}